[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/dakshayini111
[access "refs/for/refs/*"]
	read = group user/dakshayini111
	push = group user/dakshayini111
	label-Code-Review = -2..+2 group user/dakshayini111
	label-Verified = -1..+1 group user/dakshayini111
	rebase = group user/dakshayini111
	removeReviewer = group user/dakshayini111
	submit = group user/dakshayini111
[access "refs/heads/*"]
	read = group user/dakshayini111
	create = group user/dakshayini111
	push = +force group user/dakshayini111
	pushMerge = group user/dakshayini111
[access "refs/tags/*"]
	push = group user/dakshayini111
	push = +force group user/dakshayini111
